{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'bs/css/flatly.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>


        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">PEARLMART STORES</a>
                </div>
        <!-- SEARCH BAR -->
                        
                        <!-- /SEARCH BAR -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right ">
                       
                        
                        <li >
                            <a href="/lart">
                                <i class="glyphicon glyphicon-shopping-cart"> Cart({{request.session.cart.keys|length}})</i>
                            </a>
                        </li>
                        <li >
                            <a href="/store">
                                <i class="glyphicon glyphicon-flash"> Store</i>
                            </a>
                        </li>
                        
                        <li >
                            <a href="/homepage">
                                <i class="glyphicon glyphicon-home"> Home Page</i>
                            </a>
                        </li>
                        <li >
                            <a href="/checkout1">
                                <i class="glyphicon glyphicon-send"> Order Now</i>
                            </a>
                        </li>
                        <li >
                            <a href="/blog">
                                <i class="glyphicon glyphicon-new-window"> Blog</i>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
        
        <li >
          <a href="/orders"><i class="glyphicon glyphicon-check" > Orders</i></span></a>
        </li>
        <li >
          <a href="/logout"><i class="glyphicon glyphicon-log-out"> SignOut</i></a>
        </li>
        
       {% else %}
        <li >
          <a href="/signup"><i class="glyphicon glyphicon-user"> SignUp</i></a>
        </li>
        <li >
          <a  href="/login"><i class="glyphicon glyphicon-log-in"> SignIn</i></a>
        </li>
        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="container" id="page">
                    <div class="container">
<div class="row">
   <div class="col-lg-12"> 
        <div id="carousel-id" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" >
                    <img alt="First slide" src="{% static 'imgs/1.jpg' %}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            
<p>We operate Currently In Mbarara City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Explore Our Store<a href="" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
                           

                    
                           
                        </div>
                    </div>
                </div>
                <div class="item " >
                    <img alt="First slide" src="{% static 'imgs/2.jpg' %}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            
 <p>We operate Currently In Mbarar City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Explore Our Store<a href="" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
                           
                        </div>
                            
                        
                    </div>
                </div>
                
                <div class="item " >
                    <img alt="First slide" src="{% static 'imgs/3.jpg' %}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                           
 <p>We operate Currently In Mbarar City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Explore Our Store<a href="" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
                            
                        </div>
                            
                    </div>
                </div>
                <div class="item " >
                    <img alt="First slide" src="{% static 'imgs/4.jpg' %}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                           
 <p>We operate Currently In Mbarar City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Explore Our Store<a href="" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
                            
                        </div>
                           
                    </div>
                </div>
            
                
            
                
            <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    
        <div class="panel panel-primary">
            
            <ul class="list-group">
                        <li class="list-group-item " >
                             <a href="" class="btn btn-primary my-2 my-sm-0">Make Order</a>
                        </li>

                        <li class="list-group-item ">
                            <a href="" class="btn btn-primary my-2 my-sm-0"><i class="glyphicon glyphicon-chevron-left"></i> Go to Store</a>
                        </li>
                        <li class="list-group-item ">
                            <a href="" class="btn btn-primary my-2 my-sm-0">
                                <i class="glyphicon glyphicon-shopping-cart"></i> Cart
                            </a>
                        </li>
                       
                        <li class="list-group-item ">
                            
                                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="POST">
                                    {% csrf_token %}
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search Our Product" aria-label="Search" name="searched">
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                                    
                                </form>
                           
                       </li>
            </ul>
        </div>

    </div>
</div>
</div>
</div>



{% include 'messages.html' %}
        {% block body %}
        {% endblock %}
       

<div class="row">
    <div class="col-lg-12">
        <div id="carousel-id1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-id1" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id1" data-slide-to="1" class=""></li>
                <li data-target="#carousel-id1" data-slide-to="2" class=""></li>
                
            </ol>
            <div class="carousel-inner">
               
                <div class="item active" >
                    <img alt="First slide" src="{% static 'imgs/12.jpg' %}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="font-size-adjust: 100%; font-size:100%;" class="bold">Pearl-Mart Stores</h1>
              <p>Experince Our stores Now</p><p class="btn btn-primary btn-outline-info btn-sm mt-2">Shop Now!!<a href="" class="btn btn-primary btn-outline-info btn-sm mt-2 glyphicon glyphicon-chevron-right"></a>
</p><p>                                    </p>
            </div>
                            
                    </div>
                </div>
         
                <div class="item " >
                    <img alt="First slide" src="{% static 'imgs/13.jpg' %}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="font-size-adjust: 90px; font-size:100%;" class="bold">Trending</h1>
              <p>Get the most trendy products to go with the season</p><p class="btn btn-primary btn-outline-info btn-sm mt-2">Shop Now<a href="" class="btn btn-primary btn-outline-info btn-sm mt-2 glyphicon glyphicon-chevron-right"></a>
</p><p>                                    </p>
            </div>
                            
                    </div>
                </div>
                 <div class="item " >
                    <img alt="First slide" src="{% static 'imgs/14.jpg' %}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="font-size-adjust: 90px; font-size:100%;">Featured</h1>
                            <p>Get the most trendy products to go with the season</p><p class="btn btn-primary btn-outline-info btn-sm mt-2">Shop Now<a href="" class="btn btn-primary btn-outline-info btn-sm mt-2 glyphicon glyphicon-chevron-right"></a>
</p><p>                                    </p>
                        </div>
                            
                    </div>
                </div>

                
            </div>
            <a class="left carousel-control" href="#carousel-id1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

    </div>
</div>
</div>
            
            <footer>
                <div class="row pad">
                    <div class="col-lg-12 text-center">
                        <strong> PEARLMART STORES</strong>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                        <strong><i>Shop For Anything And EveryThing You Want Right</i><b> HERE </b></strong>
                    </div>
                
                <div class="row pad">
                    <div class="col-lg-12 text-center">
                        Copyright &copy; 2022<strong> <i>Under</i><b> PEARL GROUP</b><i>Number 1 Businesses Group In Uganda</i></strong>
                    </div>
                </div>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="{% static 'bs/js/jquery.min.js' %}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>

    </body>
</html>
