{% extends 'base.html' %}



{% block body %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4">
            <div class="text-center ">
            
                <img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="container " ><h4 class="bold" >Customer Login(To make your Order.You Must Have an Account and be logedin)</h4></div>
            <hr>
            </div>
            <div class="container">
            <h3 hidden class="alert alert-light border mt-4 mb-4 rounded">Login Here</h3>
            <form action="/login" method="POST">
                
            {% csrf_token %}
            {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label for="">Username</label>
                    <input required type="username" name="username" id=""
                
                    class=" form-control-sm form-control" placeholder="Username">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" placeholder="********">
                </div>

                <hr>
                <div class="form-group">
                    
                    <p><input class="btn btn-primary my-2 my-sm-0" type="submit" value="Login"></p>
                    <p class="bold" > If not registered click  
                            <a href="/signup">
                                <i class="btn btn-primary my-2 my-sm-0">SignUp</i> 
                            </a>
                    </p>
                    <p class="bold" >If you are an employee
                            <a href="/admin/login/">
                                <i class="btn btn-primary my-2 my-sm-0">Admin Login</i> 
                            </a>
                    </p>
                </div>

                
            </form>
        </div>
    </div>
</div>

{% endblock %}